@{
    ViewData["Title"] = "Order";
}
@model Order

    <form>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Oysters</legend>
                <div class="col-sm-6">
                    @foreach (var oysterType in OysterType.GetOysterTypes())
                     {
                        <div class="row">
                            <div class="form-check col-sm-6">
                                <input class="form-check-input d-inline-block" type="checkbox" id="@oysterType-type" value="@oysterType"> <!--TODO Hide quantity until checkbox checked-->
                                <label class="form-check-label" for="@oysterType-type">
                                    @OysterType.GetOysterTypeString(oysterType)
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <div class="form">
                                    <input type="number" min="0" class="form-control d-inline-block" id="@oysterType-quantity" placeholder="Quantity">
                                </div>
                            </div>
                        </div>
                     }
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label for="expectedDate" class="col-sm-2 col-form-label">expectedDate</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="expectedDate" placeholder="Date?" required/> 
            </div>
            <div class="col-sm-5">
                <input type="time" class="form-control" id="expectedTime" placeholder="Time?" required/> 
            </div>
        </div>
        <div class="form-group row">
            <label for="comment" class="col-sm-2 col-form-label">Comment</label>
            <textarea  class="col-sm-10" id="comment"></textarea>
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" onClick="createPostRequest()" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </form>

<script type="text/javascript">
    function createPostRequest() {
        if (!validateOrder())
            return;

        let order = createOrderObject();

        $.ajax({
            url: 'Form/AddOrder',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify(order)
        }).done(function (result) {
            if (result.success) {
                window.location.href = "Form/" + result.orderId;
            } else {

            }
        });


    }

    function createOrderObject() {
        let subOrders = [];
        @foreach (var oysterType in OysterType.GetOysterTypes())
         {
            <text>
            if (document.getElementById("@oysterType-type").checked && $("#@oysterType-quantity").val())
            {
                let subOrder = {
                    "quantity": $("#@oysterType-quantity").val(),
                    "oysterType": "@oysterType"
                };
                subOrders.push(subOrder);
            }
            </text>
         }
        
        let orderDate = new Date($("#expectedDate").val() + ' ' + $("#expectedTime").val());

        let order = {
                "name": $("#name").val(),
                "email": $("#email").val(),
                "expectedDate": orderDate,
                "subOrders": subOrders,
                "comment": $("#comment").val()
        }
        return order;
    }

    function validateOrder() {
        let allFilled = true;
        let requiredDivs = ["#name","#email","#expectedDate","#expectedTime"];
        
        requiredDivs.forEach(function (element) {
            if (!$(element).val()) {
                allFilled = false;
                console.log("check");
            }
        });

        return allFilled;
    }
</script>
